*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --yellow: #FFC60B;
    --green: #85AE85;
    --light-blue: #dff1ff;
    --less-light-blue: #9fd4fd;
    --dark-cyan: #199bff;
    --dark-blue: #230AFF;
    --purple: #7766FF;
    --lilac: #AAA0FF;
    --dark-orange: #df880a;
    --chocolate: #c16a08;
    --khaki: #ffde73;
    --delete-red: rgba(249, 197, 197, 0.3);
    --delete-hover-red: rgba(245, 150, 150, 0.7);
}

/*Type Styling*/
html{
    width: 100%;
    height: 100vh;
}

body {
    font-family: "Roboto", "sans-serif";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-color: white;
}

address{
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

h1 {
    font-size: 2.5rem;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    color: white;
    font-weight: 700;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 100%;
}

header {
    background-color: var(--dark-cyan);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

/*ID Styling*/
#about-me {
    position: relative;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 90%;
    padding: 20px;
    place-items: center;
}

#my-work{
    padding: 20px 50px;
}

#contact-me{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 100%;
    padding: 20px 50px;
    background-color: var(--dark-cyan);
    color: white;
    gap: 20px;
    
}

/*Class Styling*/
.project{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.project h3{
    font-size: 1.2rem;
}

.project p{
    font-size: 0.8rem;
    font-weight: 320;
}

.project-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image-half .project-image{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.about-me-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 15%;
    border-radius: 8px;
}

.about-me-container {
    position: relative;
    z-index: 2;
    width: 100%;
}

.about-me-container h2{
    font-size: 2rem;
}

.about-me-container p{
    font-size: 1rem;
    font-weight: 320;
}

.about-me-image-cont {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 600px;
    height: 200px;
}

.github-icon,.linkedin-icon{
    width: 20px;
    height: 20px;
}

.social-media-icons{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.social-media-icons a{
    text-decoration: none;
}

.project-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.image-half{
    height: 60%; 
}

.info-half{
    height: 40%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}


/* Adjust image size for smaller screens */


/*Media query for responsiveness*/
@media (max-width: 768px) {
    .project-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .image-half, .info-half {
        height: 50%;
    }
    #about-me {
        padding: 40px 30px 30px 30px;
        width: 95%;
    }
    
    .about-me-image-cont {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 300px;
        height: 200px;
    }
    
    h1 {
        font-size: 2rem;
    }
    
}

@media (max-width: 480px) {
    .project-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .image-half, .info-half {
        height: 100%;
    }
    #about-me {
        padding: 20px;
        width: 95%;
    }
    .about-me-image-cont {
        height: 180px;
    }
    .about-me-image{
        height: 100%;
    }
    
    h1 {
        font-size: 1.7rem;
    }
}

@media (min-width: 1080px) {
    .project p, footer p{
        font-size: 1rem;
    }
}
